html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    background: linear-gradient(to bottom right, #A1C4FD, #C2E9FB);
}

.main {
    width: 100%;
    height: 100%;

    padding-left: 300px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    margin: auto;
    background: rgb(201, 233, 249);
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.2);

    min-width: 600px;
    min-height: 300px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}
img{

max-width: 100%;
width: 100%;

}
html{
scroll-behavior: smooth;

}
.container .img1 
{
    object-fit: cover;
    width: 10rem;
    height: 10rem ;


}
body
{
background-color: #E1DFD3;


}
.container{
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    align-items: center;
    min-height: 100vh;
   
   
    border-radius: 15px ;


}
.bigtext
{
    
    border: 1px solid black;
    background-color: #EEEBE2;
    /* height: 80% ; */
    border-radius: 15px ;
    padding: 5% 7% ;
    width: 50% ;
    position: relative;
   
}
.text1 
{
    font-size: 20px ;
background-color: #fff;
font-family: bold italic;
font-weight: 500;
width: 90% ;
border: 1px solid black;
padding: 15px 15px ;
border-radius: 10px ;
margin-bottom: 60px ;
bottom: 140px ;
left: 30px ;
border: none;
box-shadow: 0 3px 3px 0 rgba(15, 15, 15, 0.685);
}
.text2 input
{
    box-shadow: 0 3px 3px 0 rgba(15, 15, 15, 0.685);
    font-size: 24px;
    border-radius: 10px ;
width: 90% ;
height: 150px ;
padding: 15px 15px ;
border-radius: 10px ;
margin-bottom: 60px ;
border: none;

}

button{
    position: fixed;
    left: 70% ;
    bottom: 17%;
    border: 0.5px solid rgba(0, 0, 0, 0.418);
    background-color: #f2f2f26b;
    font-size: 25px ;
    border-radius: 20px;
    font-family: bold italic;
    padding: 10px 20px ;
   
    color: rgba(0, 0, 0, 0.466);
    font-weight: 700;
    transition: all 0.2s ease;
}
button:hover
{
    color: rgb(0, 0, 0);
    transition: all 0.2s ease;
    box-shadow: 0 3px 3px 0 rgba(15, 15, 15, 0.685);
    background-color: #f2f2f2;

}
.erro
{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    /* position: absolute; */
    margin-left: 300px ;
    /* margin-top: 50px ; */
    top: 80px ;
    font-family: bold italic;
    font-size: 20px ;
    font-weight: 800;
    

}