@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Dancing+Script&family=Playpen+Sans&family=Sacramento&family=Space+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;

    background: linear-gradient(to bottom right, #93bafa, #C2E9FB);
    font-family: 'Poppins', sans-serif;
}

.game-name {
    width: 100%;
    height: 20%;

    /* font-family: 'Playpen Sans', cursive;
    font-style: italic; */

    font-size: 60px;
    font-weight: 500;
    color: #1288d7;
    text-align: center;

    padding-top: 30px;
    padding-bottom: 100px;
}

.main {
    width: 100%;
    height: 80%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

/* Content */
.content {
    display: flex;
    justify-content: center;
    flex-direction: column;

    margin-bottom: 20px;
    background-image: linear-gradient(to bottom right, #4697f3, #99d6f5);
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;

    min-width: 600px;
    min-height: 300px;
}

#keyword {
    font-family: 'Playpen Sans', cursive;
    color: aliceblue;
    margin-bottom: 100px;
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    margin-top: 30px;
}

#text-input {
    border-radius: 15px;
    border-style: none;
    width: 60%;
    padding: 5px 5px 5px 10px;
    margin-left: 120px;
    margin-top: 20px;
    color: rgb(50, 50, 50);
}

#text-input:focus {
    outline: none;
}

#point {
    color: aliceblue;
    position: absolute;
    margin-left: 100px;
    margin-top: 50px;
    font-size: 20px;
    font-weight: 500;
}

#error {
    color: aliceblue;
    position: absolute;
    margin-left: 430px;
    margin-top: 50px;
    font-size: 20px;
    font-weight: 500;
}

#announcement {
    font-family: 'Playpen Sans', cursive;
    color: aliceblue;
    font-size: 25px;
    font-weight: 500;
    padding-top: 15px;
    min-height: 60px;
    align-self: center;
}

#time {
    font-size: 23px;
    font-weight: 500;
    color: #1288d7;
    margin-bottom: 10px;
}

#btn {
    display: flex;
    justify-content: center;
    align-self: center;

    padding: 12px 0px;

    font-size: 20px;

    border-radius: 5px;
    border-style: none;
    width: 20%;

    color: aliceblue;
    background-color: #81b8f6;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);

    position: relative;
    cursor: pointer;
}

#btn:hover {
    filter: brightness(0.9);
}

#btn:active {
    filter: brightness(0.8);
    box-shadow: none;
}

/* Keyboard */
#keyboard-container {
    display: flex;
    justify-content: column;
}

#keyboard {
    margin-right: 80px;
    margin-bottom: 50px;
}

#line-1,
#line-2,
#line-3 {
    display: flex;
    justify-content: center;
    justify-content: row;
}

#line-1>button,
#line-2>button,
#line-3>button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    margin: 5px;
    font-size: 20px;
    width: 60px;
    height: 60px;
    border-radius: 20%;
    border-style: none;

    color: aliceblue;
    background-color: #679ad5;

    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4), -1px -1px 2px rgba(0, 0, 0, 0.3);
}

#line-1>button:hover,
#line-2>button:hover,
#line-3>button:hover {
    filter: brightness(0.9);
}

#line-1>button:active,
#line-2>button:active,
#line-3>button:active {
    filter: brightness(0.8);
    box-shadow: none;
}

.isClicked {
    filter: brightness(0.8);
    box-shadow: none !important;
}